:root {
  /* Paleta de Colores (Mantenemos tus variables) */
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;

  /* Tipografía */
  --sans: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;

  /* Fuente base responsiva */
  font-size: clamp(16px, 1.2vw, 18px);
  line-height: 1.6;
  color: var(--text);
  background-color: var(--bg);

  color-scheme: light dark;
}

/* Modo Oscuro Automático */
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #111827;
    /* Un oscuro más profundo y moderno */
    --border: #1f2937;
    --accent: #c084fc;
  }
}

/* Reset Pro */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--bg);
    font-family: "Google Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-variation-settings: "GRAD" 0 !important;
}

/* Layout Principal (Sin rayas laterales) */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Contenedor de contenido */
.main-content {
  width: 100%;
  max-width: 100%;
  /* Ancho máximo de contenido */
  margin: 0 auto;
  padding: 0px;
}
